/* Getting rid of white outline*/
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/*
header{
    background: #212A42;
    color: #fff;
    width: 100%;
    height: 100px;
    display: block;
    margin-bottom: 0px;
}
*/


/* Add a black background color to the top navigation */
.topnav {
  background-color: #212A42;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
float: left;
color: #f2f2f2;
text-align: center;
padding: 0px;
text-decoration: none;
}

/* Change the color of links on hover */
.topnav a:hover{
  color: orange;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
display:flex;
float: right;
margin-top: 30px;
}



/* LOGO */
header img{
    margin-top: 10px;
    width: 300px;
    height: auto;
    
}

h1{
    font-family: Gloriola, sans-serif;
    color: rgb(0, 0, 0);
    font-size: 45px;
}

body{
    font-family: Avenir, sans-serif;
}


/* Buttons*/
#back {
    width: 200px;
    padding: 16px 32px;
    border: none;
    background: #ccc;
    color: #212A42;
    border-radius: 30px;
    font-family: Avenir;
    font-size: 15px
}
#back:hover{
    background: #3683C4;
    color: #fff;
}


#next {
    width: 200px;
    padding: 16px 32px;
    border: none;
    background: radial-gradient( #ecdb43, #e69834);
    color: #212A42;
    border-radius: 30px;
    font-family: Avenir;
    font-size: 15px;
}

/*Change button colour when hover over*/
#next:hover{
    background: #3683C4;
    color: #fff;
}

/* Progress Icons */
footer .fa{
    width: 16px;
    height: 16px;
    color: #fff;
    border-radius: 50%;
    padding: 30px;
    font-size: 60px;
}

/*Text boxes*/
form .form-group input,
form .form-group select {
    padding: 16px;
    border-radius: 50px;
    border: 2px solid;
    border-color: #212A42;
    margin-bottom: 30px;
    width: 600px;
    font-family: Avenir;
    font-size: 13px;
    display: block;
}

form > .form-group > label{
    display: block;
}


/*DROP DOWN MESSAGE*/
form .messages {
    flex: 0 0 100%;
    text-align: right;
    padding: 5px 0;
    color: #ff6361;
  }
  
  /*INPUT INFO*/
  form .form-group.has-error > input,
  form .form-group.has-error > select  {
    border: 2px solid #ff6361;
  }
  
  form .form-group.has-success > input,
  form .form-group.has-success > select  {
    border: 2px solid #41a765;
  }
  
  
  /*MEDIA QUERIES*/
  @media screen and (max-width: 769px) {
    .flex-container {
      display: block;
    }
    .flex-column {
      width: 100%;
      margin-bottom: 2em;
    }
  }
  
  @media screen and (max-width: 426px) {
    main {
      width: auto;
      border-radius: 0;
    }
  
    form {
      width: 100%;
  
    }
  
    form > .form-group > label{
      flex: 0 0 100%;
      text-align: left;
      padding: 10px;
    }
  
    form > .form-group > label + * {
      flex: 0 0 100%;
    }
  
    form .form-group button {
      width: 100%;
    }
  
  }